/* CSS Style 404 Error Page */

        * {
            line-height: 1.2;
            margin: 0;
        }

        html {
            color: #CCAC00;
            display: table;
            font-family: sans-serif;
            height: 100%;
            text-align: center;
            width: 100%;
            background-image: url("../img/ANILLO.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            margin: 2em auto;
            background-color:rgba(0, 0, 0, 0.8);
        }

        h1 {
            font-family: 'Jim Nightshade', cursive;
        }
        
        h2 {
            font-size: 2em;
            font-weight: 400;
        }

        p {
            margin: 0 auto;
            width: 280px;
        }

        @media only screen and (max-width: 280px) {

            body, p {
                width: 95%;
            }

            h1 {
                font-size: 1.5em;
                margin: 0 0 0.3em;
            }

        }