/* ==========================================================================
                            Mordor CSS Style
   ========================================================================== */

    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    button {
        text-align: center;
    }

/* NavBar Style */
    .navbar-custom {
      background-color: #5c090d;
      border-color: #5c090d;
    }

    .navbar-brand {
        padding: 0px;
    }

    .navbar-brand > img {
      height: 100%;
      padding: 1px;
      width: auto;
    }

    .navbar-custom .navbar-brand {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
      color: #ffffff;
    }

    .navbar-custom .navbar-text {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-nav > li > a {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus {
      color: #ffffff;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu {
      background-color: #5c090d;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav > .open > a,
    .navbar-custom .navbar-nav > .open > a:hover,
    .navbar-custom .navbar-nav > .open > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-toggle {
      border-color: #ee8198;
    }

    .navbar-custom .navbar-toggle:hover,
    .navbar-custom .navbar-toggle:focus {
      background-color: #ee8198;
    }

    .navbar-custom .navbar-toggle .icon-bar {
      background-color: #6fd9d4;
    }

    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
      border-color: #6fd9d4;
    }

    .navbar-custom .navbar-link {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-link:hover {
      color: #ffffff;
    }

    @media (max-width: 767px) {
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #6fd9d4;
      }
        
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
      }
        
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #ee8198;
      }
        
    }

/* Botones Custom */
    .btn-custom {
      background-color: #f5a343;
      border-color: #f5a343;
    }

    .btn-custom:hover,
    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom.active {
      background-color: #f4972b;
      border-color: #f28b13;
    }

    .btn-custom.disabled:hover,
    .btn-custom.disabled:focus,
    .btn-custom.disabled:active,
    .btn-custom.disabled.active,
    .btn-custom[disabled]:hover,
    .btn-custom[disabled]:focus,
    .btn-custom[disabled]:active,
    .btn-custom[disabled].active,
    fieldset[disabled] .btn-custom:hover,
    fieldset[disabled] .btn-custom:focus,
    fieldset[disabled] .btn-custom:active,
    fieldset[disabled] .btn-custom.active {
      background-color: #f5a343;
      border-color: #f5a343;
    }

/* Portada */
    #portada {
        background: url(../img/aurdin.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 20px;
    }

    #portada > div {
        padding: 250px;
        color: white;
    }

/* Publicidad */
    #publicidad {
        padding-top: 20px;
        padding-bottom: 20px;
    }

/* Categorias */
    #categorias {
        padding-top: 20px;
        padding-bottom: 20px;
    }

/* Carrousel de Imagenes */
    #galeria {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #galeria.carousel .carousel-control {
        top: 100px;
        bottom: 100px;
        width: 5%;
    }

/* Actividades */
    #actividades {
        padding-top: 20px;
        padding-bottom: 20px;
    }

/* Contacto */
    #contacto {
        background: url(../img/middleearthgooglemap.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #contacto > div {
        padding: 250px;
    }

/* Footer */
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }