/* ==========================================================================
                            Mordor CSS Style
   ========================================================================== */

    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    button {
        text-align: center;
    }

    ul {
        list-style-type: none;
    }

    ul.menu li {
        display:inline-block;
        margin-left: 2em;
        margin-right: 2em;
    }

    blockquote{
      display:block;
      background: #fff;
      padding: 15px 20px 15px 45px;
      margin: 0 0 20px;
      position: relative;

      /*Font*/
      font-family: Georgia, serif;
      font-size: 16px;
      line-height: 1.2;
      color: #666;
      text-align: justify;

      /*Borders - (Optional)*/
      border-left: 15px solid #ee8198;
      border-right: 2px solid #ee8198;

      /*Box Shadow - (Optional)*/
      -moz-box-shadow: 2px 2px 15px #ccc;
      -webkit-box-shadow: 2px 2px 15px #ccc;
      box-shadow: 2px 2px 15px #ccc;
    }

    blockquote::before{
      content: "\201C"; /*Unicode for Left Double Quote*/

      /*Font*/
      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: #999;

      /*Positioning*/
      position: absolute;
      left: 10px;
      top:5px;
    }

    blockquote::after{
      /*Reset to make sure*/
      content: "";
    }

    hr {
        border-style: solid;
        border-width: 2px;
        border-color: #5c090d;
    }

/* NavBar Style */
    .navbar-custom {
      background-color: #5c090d;
    }

    .navbar-brand {
        padding: 0px;
    }

    .navbar-brand > img {
        height: 100%;
        width: auto;
        margin-left: 5px;
        margin-right: 0px;
    }

    .navbar-custom .navbar-brand {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
      color: #ffffff;
    }

    .navbar-custom .navbar-text {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-nav > li > a {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus {
      color: #ffffff;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu {
      background-color: #5c090d;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-nav > .open > a,
    .navbar-custom .navbar-nav > .open > a:hover,
    .navbar-custom .navbar-nav > .open > a:focus {
      color: #ffffff;
      background-color: #ee8198;
    }

    .navbar-custom .navbar-toggle {
      border-color: #ee8198;
    }

    .navbar-custom .navbar-toggle:hover,
    .navbar-custom .navbar-toggle:focus {
      background-color: #ee8198;
    }

    .navbar-custom .navbar-toggle .icon-bar {
      background-color: #6fd9d4;
    }

    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
      border-color: #6fd9d4;
    }

    .navbar-custom .navbar-link {
      color: #6fd9d4;
    }

    .navbar-custom .navbar-link:hover {
      color: #ffffff;
    }

    @media (max-width: 767px) {
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #6fd9d4;
      }
        
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
      }
        
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #ee8198;
      }
        
    }

    @media (max-width: 876px) {
        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in{
            display:block !important;
        }
    }

    #buscador {
        margin-top: 3.5%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

/* Botones Custom */
    .btn-custom {
        background-color: #f5a343;
        border-color: #f6ac55;
    }

    .btn-xl{
        font-size: 18px;
    }    

    .btn-custom:hover,
    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom.active {
      background-color: #f4972b;
      border-color: #f28b13;
    }

    .btn-custom.disabled:hover,
    .btn-custom.disabled:focus,
    .btn-custom.disabled:active,
    .btn-custom.disabled.active,
    .btn-custom[disabled]:hover,
    .btn-custom[disabled]:focus,
    .btn-custom[disabled]:active,
    .btn-custom[disabled].active,
    fieldset[disabled] .btn-custom:hover,
    fieldset[disabled] .btn-custom:focus,
    fieldset[disabled] .btn-custom:active,
    fieldset[disabled] .btn-custom.active {
      background-color: #f5a343;
      border-color: #f6ac55;
    }

/* Portada */
    #portada {
        position: relative; 
        width: 100%; /* for IE 6 */
    }

    #portada > div {
        color: white;
        position: absolute; 
        top: 35%;
        width: 100%;
    }

    @media only screen and (max-width: 520px) {
        #portada > div {
            font-size: 0.5em;
            top: 15%;
        }
    }

/* Publicidad */
    #publicidad {
        padding-top: 20px;
        padding-bottom: 20px;
    }

/* Categorias */
    #categorias {
        padding-top: 20px;
        padding-bottom: 20px;
    }

/* Carrousel de Imagenes */
    #galeria {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #galeria.carousel .carousel-control {
        top: 100px;
        bottom: 100px;
        width: 5%;
    }

/* Actividades */
    #actividades {
        padding-top: 20px;
        padding-bottom: 20px;
    }

/* Contacto */
    #contacto {
        position: relative; 
        width: 100%; /* for IE 6 */
    }

    #contacto > div {
        color: white;
        position: absolute; 
        top: 45%;
        width: 100%;
    }

/* Footer */
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }